* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html,
body{
    min-height: 100%;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);


}

.main {
    display: flex;
    justify-content: center;
    align-items: center;   
    min-height: 100%;
}
.container{
    width: 25%;
    margin-top: 10%;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    color: white;
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(100, 97, 97, 0.479);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.479);
}

.form legend {
    align-self: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.form [type=text], [type=number]{
    height: 40px;
    border-radius: 20px;
    padding: 4px;
    padding-left: 10px;
    border: 0px ;
}

.form .radio-group{
    display: flex;
    justify-content: space-evenly;
}


.form .btn-submit {
    margin-top: 10px;
    width: 50%;
    align-self: center;
    border-radius: 20px;
    border: 0;
    height: 30px;
    cursor: pointer;
}

.form .btn-submit:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.table{
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #0000001c;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.479);
}

.table tr{
    text-align: center;
    
}

.table th{
    width: 33%;
}